body {
  background-color: #09192e;
}

.trading-groups-content-body {
  margin: 50px 0px 0px 230px;
  overflow-x: auto;
}

/* Top Header Style Start */
/* Right Start */
.trading-groups-top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 30px 0px 30px;
}
.trading-groups-top-header .trading-groups-top-header-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trading-groups-top-header .trading-groups-top-header-left h1 {
  color: #ffffff;
  font-size: 32px;
  font-family: "poppins";
  font-weight: bold;
  margin: 0px;
}
.trading-groups-top-header .trading-groups-top-header-left button {
  background-color: #0076ff;
  color: #ffffff;
  border: none;
  font-size: 22px;
  font-family: "poppins";
  border-radius: 10px;
  padding: 6px 20px 6px 20px;
  margin: 0px 0px 0px 26px;
}
.trading-groups-top-header .trading-groups-top-header-left button svg {
  margin: 0px 18px 0px 0px;
}
.trading-groups-top-header .trading-groups-top-header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trading-groups-top-header .trading-groups-top-header-right .three-line {
  margin: 0px 24px 0px 0px;
}
/* Left End */

/* Right Start */
.button-group-container {
  width: 464px;
  height: 50px;
  background-color: #020b19;
  margin: 0px 0px 0px 220px;
}
.button-group-container .forex-active-button {
  background-color: #0076ff;
  color: #ffffff;
  border-radius: 10px !important;
  font-size: 13px;
  font-family: "Arial";
}

.button-group-container .forex-button {
  background-color: #020b19;
  color: #707070;
  font-size: 13px;
  font-family: "Arial";
}

.button-group-container .crypto-active-button {
  background-color: #0076ff;
  color: #ffffff;
  border-radius: 10px !important;
  font-size: 13px;
  font-family: "Arial";
}

.button-group-container .crypto-button {
  background-color: #020b19;
  color: #707070;
  font-size: 13px;
  font-family: "Arial";
}

.button-group-container .binary-active-button {
  background-color: #0076ff;
  color: #ffffff;
  border-radius: 10px !important;
  font-size: 13px;
  font-family: "Arial";
}

.button-group-container .binary-button {
  background-color: #020b19;
  color: #707070;
  font-size: 13px;
  font-family: "Arial";
}
.trading-groups-top-header-right .trading-group-input-container {
  position: relative;
}
.trading-groups-top-header-right .trading-group-input-container span {
  position: absolute;
  top: -24px;
  right: -38px;
}
.trading-groups-top-header-right .trading-group-input-container:hover {
  cursor: pointer;
}
.trading-groups-top-header-right
  .trading-group-input-container
  .click-to-show-svg {
  position: absolute;
  top: -36px;
  right: -21px;
}
.trading-groups-top-header-right
  .trading-group-input-container
  .click-to-show-svg:hover {
  cursor: pointer;
}
.trading-groups-top-header-right .trading-group-input-container input {
  background-color: #020b19;
  color: #ffffff;
  border: none;
  border-radius: 24px;
  width: 250px;
  height: 50px;
}
/* Right End */

/* Main Content Start */
.trading-groups-container-fluid .row {
  margin: 0px 0px 0px 0px;
}

.trading-groups-container-fluid .row .trading-groups-component-container {
  background-color: #010a18;
  width: 260px;
  height: 329px;
  border-radius: 20px;
  margin: 35px 0px 0px 50px;
}

.trading-groups-container-fluid
  .row
  .trading-groups-component-container
  .trading-groups-component-content {
  padding: 8px 0px 0px 0px;
}

.trading-groups-container-fluid
  .row
  .trading-groups-component-container
  .trading-groups-component-content
  .top-image {
  width: 239px;
  height: 186px;
  border-radius: 16px;
  margin: 0px 0px 0px -2px;
}

.trading-groups-container-fluid
  .row
  .trading-groups-component-container
  .trading-groups-component-content
  .name {
  color: #ffffff;
  font-size: 18px;
  font-family: "poppins";
  margin: 18px 0px 0px 0px;
}

.trading-groups-container-fluid
  .row
  .trading-groups-component-container
  .trading-groups-component-content
  span {
  color: rgba(217, 216, 216, 0.4);
  font-size: 12px;
  font-family: "poppins";
}

.trading-groups-container-fluid
  .row
  .trading-groups-component-container
  .trading-groups-component-content
  .cost-button-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 24px 0px 0px 0px;
}

.trading-groups-container-fluid
  .row
  .trading-groups-component-container
  .trading-groups-component-content
  .cost-button-container
  p {
  color: #0076ff;
  font-family: "poppins";
  font-size: 15px;
  font-weight: 500;
}

.trading-groups-container-fluid
  .row
  .trading-groups-component-container
  .trading-groups-component-content
  .cost-button-container
  button {
  background-color: #3cd561;
  color: #09192e;
  font-family: "poppins";
  padding: 2px 30px 2px 30px;
  border-radius: 10px;
  font-size: 18px;
}
/* Main Content End */

/* Media Queries Start */
@media only screen and (max-width: 1669px) {
  .trading-groups-top-header .trading-groups-top-header-left h1 {
    color: #ffffff;
    font-size: 22px;
    font-family: "poppins";
    font-weight: bold;
    margin: 0px;
  }
  .trading-groups-top-header .trading-groups-top-header-left button {
    background-color: #0076ff;
    color: #ffffff;
    border: none;
    font-size: 18px;
    font-family: "poppins";
    border-radius: 10px;
    padding: 6px 12px 6px 12px;
    margin: 0px 0px 0px 12px;
  }
  .trading-groups-top-header .trading-groups-top-header-left button svg {
    margin: 0px 8px 0px 0px;
  }
  .trading-groups-container-fluid .row .trading-groups-component-container {
    background-color: #010a18;
    width: 260px;
    height: 329px;
    border-radius: 20px;
    margin: 35px 0px 0px 14px;
  }
}

@media only screen and (max-width: 1640px) {
  .trading-groups-top-header .trading-groups-top-header-left h1 {
    color: #ffffff;
    font-size: 18px;
    font-family: "poppins";
    font-weight: bold;
    margin: 0px;
  }
  .trading-groups-top-header .trading-groups-top-header-left button {
    background-color: #0076ff;
    color: #ffffff;
    border: none;
    font-size: 16px;
    font-family: "poppins";
    border-radius: 10px;
    padding: 6px 8px 6px 8px;
    margin: 0px 0px 0px 12px;
  }
  .trading-groups-top-header .trading-groups-top-header-left button svg {
    margin: 0px 4px 0px 0px;
  }
  .trading-groups-container-fluid .row .trading-groups-component-container {
    background-color: #010a18;
    width: 240px;
    height: 312px;
    border-radius: 20px;
    margin: 35px 0px 0px 14px;
  }
  .trading-groups-container-fluid
    .row
    .trading-groups-component-container
    .trading-groups-component-content
    .top-image {
    width: 221px;
    height: 186px;
    border-radius: 16px;
    margin: 0px 0px 0px -2px;
  }
  .trading-groups-container-fluid
    .row
    .trading-groups-component-container
    .trading-groups-component-content
    .cost-button-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 8px 0px 0px 0px;
  }
}

@media only screen and (max-width: 1590px) {
  .trading-groups-top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 30px 0px 0px;
  }
  .trading-groups-container-fluid .row .trading-groups-component-container {
    background-color: #010a18;
    width: 220px;
    height: 329px;
    border-radius: 20px;
    margin: 22px 0px 0px 18px;
  }
  .trading-groups-container-fluid
    .row
    .trading-groups-component-container
    .trading-groups-component-content
    .top-image {
    width: 200px;
    height: 186px;
    border-radius: 16px;
    margin: 0px 0px 0px 0px;
  }

  .trading-groups-top-header .trading-groups-top-header-left button {
    background-color: #0076ff;
    color: #ffffff;
    border: none;
    font-size: 16px;
    font-family: "poppins";
    border-radius: 10px;
    padding: 4px 8px 4px 8px;
    margin: 0px 0px 0px 0px;
  }

  .trading-groups-top-header .trading-groups-top-header-left h1 {
    color: #ffffff;
    font-size: 18px;
    font-family: "poppins";
    font-weight: bold;
    margin: 0px;
  }
  .button-group-container {
    width: 464px;
    height: 50px;
    background-color: #020b19;
    margin: 0px 0px 0px 160px;
  }
}

@media only screen and (max-width: 1530px) {
  .trading-groups-top-header .trading-groups-top-header-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 340px;
  }
  .trading-groups-top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 30px 0px 0px;
  }
  .trading-groups-container-fluid .row .trading-groups-component-container {
    background-color: #010a18;
    width: 200px;
    height: 329px;
    border-radius: 20px;
    margin: 22px 0px 0px 18px;
  }
  .trading-groups-container-fluid
    .row
    .trading-groups-component-container
    .trading-groups-component-content
    .top-image {
    width: 176px;
    height: 186px;
    border-radius: 16px;
    margin: 0px 0px 0px 0px;
  }

  .trading-groups-top-header .trading-groups-top-header-left button {
    background-color: #0076ff;
    color: #ffffff;
    border: none;
    font-size: 16px;
    font-family: "poppins";
    border-radius: 10px;
    padding: 4px 8px 4px 8px;
    margin: 0px 0px 0px 0px;
  }

  .trading-groups-top-header .trading-groups-top-header-left h1 {
    color: #ffffff;
    font-size: 18px;
    font-family: "poppins";
    font-weight: bold;
    margin: 0px;
  }
  .button-group-container {
    width: 464px;
    height: 50px;
    background-color: #020b19;
    margin: 0px 0px 0px 160px;
  }
}

@media only screen and (max-width: 1430px) {
  .trading-groups-top-header .trading-groups-top-header-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 440px;
  }
  .trading-groups-top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 30px 0px 0px;
  }
  .trading-groups-container-fluid .row .trading-groups-component-container {
    background-color: #010a18;
    width: 180px;
    height: 300px;
    border-radius: 20px;
    margin: 22px 0px 0px 18px;
  }
  .trading-groups-container-fluid
    .row
    .trading-groups-component-container
    .trading-groups-component-content
    .top-image {
    width: 158px;
    height: 160px;
    border-radius: 16px;
    margin: 0px 0px 0px 0px;
  }

  .trading-groups-container-fluid
    .row
    .trading-groups-component-container
    .trading-groups-component-content
    .cost-button-container
    p {
    color: #0076ff;
    font-family: "poppins";
    font-size: 11px;
    font-weight: 500;
  }

  .trading-groups-top-header .trading-groups-top-header-left button {
    background-color: #0076ff;
    color: #ffffff;
    border: none;
    font-size: 12px;
    font-family: "poppins";
    border-radius: 10px;
    padding: 4px 8px 4px 8px;
    margin: 0px 0px 0px 0px;
  }

  .trading-groups-top-header .trading-groups-top-header-left h1 {
    color: #ffffff;
    font-size: 12px;
    font-family: "poppins";
    font-weight: bold;
    margin: 0px;
  }
  .button-group-container {
    width: 464px;
    height: 50px;
    background-color: #020b19;
    margin: 0px 0px 0px 160px;
  }
  .button-group-container {
    width: 464px;
    height: 50px;
    background-color: #020b19;
    margin: 0px 55px 0px 160px;
  }
}

@media only screen and (max-width: 1380px) {
  .trading-groups-content-body {
    margin: 50px 0px 0px 256px;
    overflow-x: auto;
  }
  .trading-groups-top-header .trading-groups-top-header-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 440px;
  }
  .trading-groups-top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 30px 0px 0px;
  }
  .trading-groups-container-fluid .row .trading-groups-component-container {
    background-color: #010a18;
    width: 171px;
    height: 216px;
    border-radius: 20px;
    margin: 22px 0px 0px 36px;
  }
  .trading-groups-container-fluid
    .row
    .trading-groups-component-container
    .trading-groups-component-content
    .top-image {
    width: 157px;
    height: 122px;
    border-radius: 16px;
    margin: 0px 0px 0px -4px;
  }
  .trading-groups-container-fluid
    .row
    .trading-groups-component-container
    .trading-groups-component-content
    .name {
    color: #ffffff;
    font-size: 10px;
    font-family: "poppins";
    margin: 5px 0px 0px 0px;
  }
  .trading-groups-container-fluid
    .row
    .trading-groups-component-container
    .trading-groups-component-content
    span {
    color: rgba(217, 216, 216, 0.4);
    font-size: 8px;
    font-family: "poppins";
  }
  .trading-groups-container-fluid
    .row
    .trading-groups-component-container
    .trading-groups-component-content
    .cost-button-container
    button {
    background-color: #3cd561;
    color: #09192e;
    font-family: "poppins";
    padding: 2px 18px 2px 18px;
    border-radius: 10px;
    font-size: 10px;
  }

  .trading-groups-container-fluid
    .row
    .trading-groups-component-container
    .trading-groups-component-content
    .cost-button-container
    p {
    color: #0076ff;
    font-family: "poppins";
    font-size: 11px;
    font-weight: 500;
  }

  .trading-groups-top-header .trading-groups-top-header-left button {
    background-color: #0076ff;
    color: #ffffff;
    border: none;
    font-size: 12px;
    font-family: "poppins";
    border-radius: 10px;
    padding: 4px 8px 4px 8px;
    margin: 0px 0px 0px 4px;
  }
  .trading-groups-top-header .trading-groups-top-header-left button svg {
    margin: 0px 4px 0px 0px;
    width: 20px;
    height: 20px;
  }

  .trading-groups-top-header .trading-groups-top-header-left h1 {
    color: #ffffff;
    font-size: 14px;
    font-family: "poppins";
    font-weight: bold;
    margin: 0px;
  }
  .button-group-container {
    width: 464px;
    height: 50px;
    background-color: #020b19;
    margin: 0px 0px 0px 160px;
  }
  .button-group-container {
    width: 464px;
    height: 50px;
    background-color: #020b19;
    margin: 0px 55px 0px 160px;
  }
}

@media only screen and (max-width: 1330px) {
  .trading-groups-top-header .trading-groups-top-header-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 440px;
  }
  .trading-groups-top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 30px 0px 0px;
  }
  .trading-groups-container-fluid .row .trading-groups-component-container {
    background-color: #010a18;
    width: 172px;
    height: 280px;
    border-radius: 20px;
    margin: 22px 0px 0px 14px;
  }
  .trading-groups-container-fluid
    .row
    .trading-groups-component-container
    .trading-groups-component-content
    .top-image {
    width: 150px;
    height: 140px;
    border-radius: 16px;
    margin: 0px 0px 0px 0px;
  }

  .trading-groups-container-fluid
    .row
    .trading-groups-component-container
    .trading-groups-component-content
    .cost-button-container
    p {
    color: #0076ff;
    font-family: "poppins";
    font-size: 11px;
    font-weight: 500;
  }

  .trading-groups-top-header .trading-groups-top-header-left button {
    background-color: #0076ff;
    color: #ffffff;
    border: none;
    font-size: 12px;
    font-family: "poppins";
    border-radius: 10px;
    padding: 4px 4px 4px 4px;
    margin: 0px 0px 0px 0px;
  }
  .trading-groups-top-header .trading-groups-top-header-left button svg {
    margin: 0px 4px 0px 0px;
  }

  .trading-groups-top-header .trading-groups-top-header-left h1 {
    color: #ffffff;
    font-size: 10px;
    font-family: "poppins";
    font-weight: bold;
    margin: 0px;
  }
  .button-group-container {
    width: 464px;
    height: 50px;
    background-color: #020b19;
    margin: 0px 0px 0px 160px;
  }
  .button-group-container {
    width: 464px;
    height: 50px;
    background-color: #020b19;
    margin: 0px 55px 0px 160px;
  }
}

@media only screen and (max-width: 1280px) {
  .trading-groups-content-body {
    margin: 50px 0px 0px 256px;
    overflow-x: auto;
  }
  .trading-groups-top-header .trading-groups-top-header-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 440px;
  }
  .trading-groups-top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 30px 0px 0px;
  }
  .trading-groups-container-fluid .row .trading-groups-component-container {
    background-color: #010a18;
    width: 171px;
    height: 216px;
    border-radius: 20px;
    margin: 22px 0px 0px 14px;
  }
  .trading-groups-container-fluid
    .row
    .trading-groups-component-container
    .trading-groups-component-content
    .top-image {
    width: 157px;
    height: 122px;
    border-radius: 16px;
    margin: 0px 0px 0px -4px;
  }
  .trading-groups-container-fluid
    .row
    .trading-groups-component-container
    .trading-groups-component-content
    .name {
    color: #ffffff;
    font-size: 10px;
    font-family: "poppins";
    margin: 5px 0px 0px 0px;
  }
  .trading-groups-container-fluid
    .row
    .trading-groups-component-container
    .trading-groups-component-content
    span {
    color: rgba(217, 216, 216, 0.4);
    font-size: 8px;
    font-family: "poppins";
  }
  .trading-groups-container-fluid
    .row
    .trading-groups-component-container
    .trading-groups-component-content
    .cost-button-container
    button {
    background-color: #3cd561;
    color: #09192e;
    font-family: "poppins";
    padding: 2px 18px 2px 18px;
    border-radius: 10px;
    font-size: 10px;
  }

  .trading-groups-container-fluid
    .row
    .trading-groups-component-container
    .trading-groups-component-content
    .cost-button-container
    p {
    color: #0076ff;
    font-family: "poppins";
    font-size: 11px;
    font-weight: 500;
  }

  .trading-groups-top-header .trading-groups-top-header-left button {
    background-color: #0076ff;
    color: #ffffff;
    border: none;
    font-size: 12px;
    font-family: "poppins";
    border-radius: 10px;
    padding: 4px 8px 4px 8px;
    margin: 0px 0px 0px 4px;
  }
  .trading-groups-top-header .trading-groups-top-header-left button svg {
    margin: 0px 4px 0px 0px;
    width: 20px;
    height: 20px;
  }

  .trading-groups-top-header .trading-groups-top-header-left h1 {
    color: #ffffff;
    font-size: 14px;
    font-family: "poppins";
    font-weight: bold;
    margin: 0px;
  }
  .button-group-container {
    width: 464px;
    height: 50px;
    background-color: #020b19;
    margin: 0px 0px 0px 160px;
  }
  .button-group-container {
    width: 464px;
    height: 50px;
    background-color: #020b19;
    margin: 0px 55px 0px 160px;
  }
}

@media only screen and (max-width: 1272px) {
  .trading-groups-top-header .trading-groups-top-header-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 450px;
  }
  .trading-groups-top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0px 0px 0px;
  }
  .trading-groups-container-fluid .row .trading-groups-component-container {
    background-color: #010a18;
    width: 163px;
    height: 280px;
    border-radius: 20px;
    margin: 22px 0px 0px 14px;
  }
  .trading-groups-container-fluid
    .row
    .trading-groups-component-container
    .trading-groups-component-content
    .top-image {
    width: 142px;
    height: 140px;
    border-radius: 16px;
    margin: 0px 0px 0px 0px;
  }

  .trading-groups-container-fluid
    .row
    .trading-groups-component-container
    .trading-groups-component-content
    .cost-button-container
    p {
    color: #0076ff;
    font-family: "poppins";
    font-size: 9px;
    font-weight: 500;
  }

  .trading-groups-top-header .trading-groups-top-header-left button {
    background-color: #0076ff;
    color: #ffffff;
    border: none;
    font-size: 12px;
    font-family: "poppins";
    border-radius: 10px;
    padding: 4px 4px 4px 4px;
    margin: 0px 0px 0px 0px;
  }
  .trading-groups-top-header .trading-groups-top-header-left button svg {
    margin: 0px 4px 0px 0px;
  }

  .trading-groups-top-header .trading-groups-top-header-left h1 {
    color: #ffffff;
    font-size: 10px;
    font-family: "poppins";
    font-weight: bold;
    margin: 0px;
  }
  .button-group-container {
    width: 464px;
    height: 50px;
    background-color: #020b19;
    margin: 0px 0px 0px 160px;
  }

  .button-group-container {
    width: 464px;
    height: 50px;
    background-color: #020b19;
    margin: 0px 55px 0px 160px;
  }
}

@media only screen and (max-width: 1225px) {
  .trading-groups-top-header .trading-groups-top-header-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 450px;
  }
  .trading-groups-top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0px 0px 0px;
  }
  .trading-groups-container-fluid .row .trading-groups-component-container {
    background-color: #010a18;
    width: 150px;
    height: 260px;
    border-radius: 20px;
    margin: 22px 0px 0px 14px;
  }
  .trading-groups-container-fluid
    .row
    .trading-groups-component-container
    .trading-groups-component-content
    .top-image {
    width: 132px;
    height: 130px;
    border-radius: 16px;
    margin: 0px 0px 0px 0px;
  }

  .trading-groups-container-fluid
    .row
    .trading-groups-component-container
    .trading-groups-component-content
    .name {
    color: #ffffff;
    font-size: 12px;
    font-family: "poppins";
    margin: 18px 0px 0px 0px;
  }
  .trading-groups-container-fluid
    .row
    .trading-groups-component-container
    .trading-groups-component-content
    span {
    color: rgba(217, 216, 216, 0.4);
    font-size: 10px;
    font-family: "poppins";
  }
  .trading-groups-container-fluid
    .row
    .trading-groups-component-container
    .trading-groups-component-content
    .cost-button-container
    button {
    background-color: #3cd561;
    color: #09192e;
    font-family: "poppins";
    padding: 2px 14px 2px 14px;
    border-radius: 10px;
    font-size: 16px;
  }

  .trading-groups-container-fluid
    .row
    .trading-groups-component-container
    .trading-groups-component-content
    .cost-button-container
    p {
    color: #0076ff;
    font-family: "poppins";
    font-size: 9px;
    font-weight: 500;
  }

  .trading-groups-top-header .trading-groups-top-header-left button {
    background-color: #0076ff;
    color: #ffffff;
    border: none;
    font-size: 12px;
    font-family: "poppins";
    border-radius: 10px;
    padding: 4px 4px 4px 4px;
    margin: 0px 0px 0px 0px;
  }
  .trading-groups-top-header .trading-groups-top-header-left button svg {
    margin: 0px 4px 0px 0px;
  }

  .trading-groups-top-header .trading-groups-top-header-left h1 {
    color: #ffffff;
    font-size: 10px;
    font-family: "poppins";
    font-weight: bold;
    margin: 0px;
  }
  .button-group-container {
    width: 464px;
    height: 50px;
    background-color: #020b19;
    margin: 0px 0px 0px 160px;
  }

  .button-group-container {
    width: 464px;
    height: 50px;
    background-color: #020b19;
    margin: 0px 55px 0px 160px;
  }
}

@media only screen and (max-width: 1160px) {
  .trading-groups-top-header .trading-groups-top-header-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 450px;
  }
  .trading-groups-top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0px 0px 0px;
  }
  .trading-groups-container-fluid .row .trading-groups-component-container {
    background-color: #010a18;
    width: 136px;
    height: 231px;
    border-radius: 20px;
    margin: 22px 0px 0px 14px;
  }
  .trading-groups-container-fluid
    .row
    .trading-groups-component-container
    .trading-groups-component-content
    .top-image {
    width: 122px;
    height: 122px;
    border-radius: 16px;
    margin: 0px 0px 0px -5px;
  }

  .trading-groups-container-fluid
    .row
    .trading-groups-component-container
    .trading-groups-component-content
    .name {
    color: #ffffff;
    font-size: 11px;
    font-family: "poppins";
    margin: 18px 0px 0px 0px;
  }
  .trading-groups-container-fluid
    .row
    .trading-groups-component-container
    .trading-groups-component-content
    span {
    color: rgba(217, 216, 216, 0.4);
    font-size: 9px;
    font-family: "poppins";
  }
  .trading-groups-container-fluid
    .row
    .trading-groups-component-container
    .trading-groups-component-content
    .cost-button-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 4px 0px 0px 0px;
  }
  .trading-groups-container-fluid
    .row
    .trading-groups-component-container
    .trading-groups-component-content
    .cost-button-container
    p {
    color: #0076ff;
    font-family: "poppins";
    font-size: 9px;
    font-weight: 500;
  }

  .trading-groups-top-header .trading-groups-top-header-left button {
    background-color: #0076ff;
    color: #ffffff;
    border: none;
    font-size: 12px;
    font-family: "poppins";
    border-radius: 10px;
    padding: 4px 4px 4px 4px;
    margin: 0px 0px 0px 0px;
  }
  .trading-groups-top-header .trading-groups-top-header-left button svg {
    margin: 0px 4px 0px 0px;
  }

  .trading-groups-top-header .trading-groups-top-header-left h1 {
    color: #ffffff;
    font-size: 10px;
    font-family: "poppins";
    font-weight: bold;
    margin: 0px;
  }
  .button-group-container {
    width: 464px;
    height: 50px;
    background-color: #020b19;
    margin: 0px 0px 0px 160px;
  }

  .button-group-container {
    width: 464px;
    height: 50px;
    background-color: #020b19;
    margin: 0px 55px 0px 160px;
  }
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 1083px) {
}
@media only screen and (max-width: 1063px) {
}

@media only screen and (max-width: 1017px) {
}

@media only screen and (max-width: 991px) {
}
/* Media Queries End */
