.header-logo-container .header-left-logo-container {
  margin: 8px 0px 0px 0px;
}
.header-header-container {
  background-color: #020b19;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}
.header-header-container .content {
  margin: -22px 0px 0px 0px;
  height: 50px;
}

.header-logo-container {
  margin: 0px 0px 0px 80px;
}
.header-logo-container .header-left-button-container {
  margin: -3px 0px 0px 90px;
}

.text-end {
  display: flex;
  align-items: center;
}
.text-end .dark_light {
  width: 230px;
}
.text-end svg {
  width: 40px;
  margin: 0px 22px 0px 0px;
}

.text-end .profile-image {
  margin: 0px 0px 0px 0px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  outline: auto;
}

/* Media Queries Start */
@media (max-width: 1159px) {
  .text-end .dark_light {
    width: 250px;
  }
  .text-end svg {
    width: 35px;
    margin: 0px 14px 0px 0px;
  }
  .text-end .profile-image {
    margin: 0px 0px 0px 0px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    outline: auto;
  }
}
@media (max-width: 1063px) {
  .header-logo-container .header-left-button-container {
    margin: 8px 0px 0px 120px;
  }
  .header-logo-container .header-left-logo-container {
    margin: 8px 0px 0px 70px;
  }
  .header-logo-container {
    margin: 0px 0px 0px 0px;
  }
}

@media (max-width: 992px) {
  .header-logo-container {
    margin: 0px 0px 0px -400px;
  }
  .header-logo-container .header-left-logo-container {
    margin: 8px 0px 0px 400px;
  }
}

@media (max-width: 576px) {
}

/* Media Queries End */
