body {
  background-color: #09192e;
}
.live-stream-content-body {
  margin: 80px 0px 0px 300px;
}
/* Top Header Style Start */
/* Right Start */
.live-streams-top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 30px 0px 30px;
}
.live-streams-top-header .live-streams-top-header-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.live-streams-top-header .live-streams-top-header-left h1 {
  color: #ffffff;
  font-size: 32px;
  font-family: "poppins";
  font-weight: bold;
  margin: 0px;
}
.live-streams-top-header .live-streams-top-header-left button {
  background-color: #ff4246;
  color: #ffffff;
  border: none;
  font-size: 22px;
  font-family: "poppins";
  border-radius: 10px;
  padding: 6px 70px 6px 70px;
  margin: 0px 0px 0px 26px;
}
.live-streams-top-header .live-streams-top-header-left button svg {
  margin: 0px 30px 0px -50px;
}
.live-streams-top-header .live-streams-top-header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.live-streams-top-header .live-streams-top-header-right .three-line {
  margin: 0px 24px 0px 0px;
}
/* Left End */

/* Right Start */
.live-streams-top-header-right .input-container {
  position: relative;
}
.live-streams-top-header-right .input-container span {
  position: absolute;
  top: -24px;
  right: -38px;
}
.live-streams-top-header-right .input-container input {
  background-color: #020b19;
  border: none;
  border-radius: 24px;
  width: 250px;
  height: 50px;
  color: #ffffff;
}
/* Right End */

@media only screen and (max-width: 1200px) {
  .live-streams-top-header .live-streams-top-header-left button {
    font-size: 20px;
    padding: 6px 55px 6px 70px;
  }

  .live-streams-top-header .live-streams-top-header-left h1 {
    font-size: 28px;
  }
}
@media only screen and (max-width: 1083px) {
  .live-streams-top-header .live-streams-top-header-left button {
    font-size: 18px;
    padding: 6px 55px 6px 70px;
  }

  .live-streams-top-header .live-streams-top-header-left h1 {
    font-size: 26px;
  }
}
@media only screen and (max-width: 1063px) {
  .live-streams-top-header .live-streams-top-header-left button {
    font-size: 16px;
    padding: 6px 40px 6px 70px;
  }

  .live-streams-top-header .live-streams-top-header-left h1 {
    font-size: 22px;
  }
}

@media only screen and (max-width: 1017px) {
  .live-streams-top-header .live-streams-top-header-left button {
    font-size: 14px;
    padding: 6px 30px 6px 70px;
  }

  .live-streams-top-header .live-streams-top-header-left h1 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 991px) {
  .live-streams-top-header .live-streams-top-header-left button {
    font-size: 14px;
    padding: 6px 30px 6px 70px;
  }

  .live-streams-top-header .live-streams-top-header-left h1 {
    font-size: 16px;
  }
}

.live-stream-container-fluid .row {
  margin: 0px 0px 0px 0px;
}

.live-stream-container-fluid .row .live-stream-component-container {
  background-color: #010a18;
  width: 180px;
  height: 246px;
  border-radius: 20px;
  margin: 30px 0px 0px 36px;
}

.live-stream-container-fluid
  .row
  .live-stream-component-container
  .live-stream-component-content {
  padding: 8px 0px 0px 0px;
}

.live-stream-container-fluid
  .row
  .live-stream-component-container
  .live-stream-component-content
  .top-image {
  width: 160px;
  height: 120px;
  border-radius: 16px;
  margin: 0px 0px 0px -2px;
}

.live-stream-container-fluid
  .row
  .live-stream-component-container
  .live-stream-component-content
  .name {
  color: #ffffff;
  font-size: 18px;
  font-family: "poppins";
  margin: 18px 0px 0px 0px;
}

.live-stream-container-fluid
  .row
  .live-stream-component-container
  .live-stream-component-content
  span {
  color: rgba(217, 216, 216, 0.4);
  font-size: 12px;
  font-family: "poppins";
}

.live-stream-container-fluid
  .row
  .live-stream-component-container
  .live-stream-component-content
  .cost-button-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 8px 0px 0px 0px;
}

.live-stream-container-fluid
  .row
  .live-stream-component-container
  .live-stream-component-content
  .cost-button-container
  p {
  color: #0076ff;
  font-family: "poppins";
  font-size: 15px;
  font-weight: 500;
}

.live-stream-container-fluid
  .row
  .live-stream-component-container
  .live-stream-component-content
  .cost-button-container
  button {
  background-color: #ff4246;
  color: #ffffff;
  font-family: "poppins";
  padding: 2px 30px 2px 30px;
  border-radius: 10px;
  font-size: 18px;
}
